@use '../custom' as *;
@use '../components/mixins' as *;


.footer{
    padding-top: 1rem;
    background-color: $footer;
}

//conteúdo
.contact-box{
    position: relative;

    &__icon{
        width: 4rem;
        stroke: $primary;
    }

    &__info{
        padding: 0.4rem;
        font-weight: 600;

        &--title{
            color: $white;
            text-decoration: none;
            font-size: 1.4rem;
        }
        &--subtitle{
            font-size: 1rem;
            color: $gray-600;
            text-decoration: none;
        }
    }
}