@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section{
    background-color: $footer;
    padding: 7rem 0 0 0;
    width: 100%;
    height: 100%;
    @include media-breakpoint-down(sm){
        padding: 7rem 0 0 0;
    };
    .col1{    
            @include media-breakpoint-down(sm){
            margin-bottom: 3rem;
        };
    }
    .display-2{
        padding-top: 3rem;
    }
    .img{
        width: 6rem;
        stroke: $primary;     
    }
    .separador{
        border-top: 3px dotted $green-dark;
        margin-bottom: 0.3rem;
    }
    .formulario{
        padding: 10px 1rem;
        background-color: $white;
        border-radius: 1rem;        

        .form{
            margin-bottom: 0.8rem;
        }
        .titleforms{
            font-size: 1.5rem;
        }
        .button{
            position: relative;
            display: flex;
            .resultadoClarBrunton{
                text-align: center;                                
                display: block;
                padding-left: 1rem;
                margin-top: 0.4rem;      
            }
            #resultado{                
                color: $green-dark;
            }                        
        }
    }
}